body{
    background: #000;
    color: white;
}
.heromain {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 200px;
  background-color: #374151;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 65px;
  color: #10b981; 
  border-radius: 16px;
}
.uz__btn{
    margin-left: 60px;
}
.us__btn{
    padding: 5px;
    color: #555555;
    border-radius: 50px;
    background-color: #374151;
    border: 3px solid #555555;
}
.us__btn:hover {
    transition: 0.8s;
    color: #ffffff;
    border-radius: 50px;
    background-color: #2b5fb3;
    border: 3px solid #555555;
}

.bg-slate-700 {
  background-color: #374151;
}

.text-lime-500 {
  color: #84cc16;
}
.user__btn{
    margin-left: 130px;
}
.cards{
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: #589413;
}
.card__img{
    margin-left: 15px;
    width: 200px ;
    height: 200px ;
}
.card__2{
    width: 400px;

    padding: 20px;
    margin: 20px;
    background-color: #374151;
}

.card__1{
    height: 200px;
    width: 600px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

/* HTML: <div class="loader"></div> */
.loader {
    margin-left: 600px;
    margin-top: 300px;
    --c1: #673b14;
    --c2: #f8b13b;
    width: 40px;
    height: 80px;
    border-top: 4px solid var(--c1);
    border-bottom: 4px solid var(--c1);
    background: linear-gradient(90deg, var(--c1) 2px, var(--c2) 0 5px, var(--c1) 0) 50%/7px 8px no-repeat;
    display: grid;
    overflow: hidden;
    animation: l5-0 2s infinite linear;
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    width: 75%;
    height: calc(50% - 4px);
    margin: 0 auto;
    border: 2px solid var(--c1);
    border-top: 0;
    box-sizing: content-box;
    border-radius: 0 0 40% 40%;
    -webkit-mask:
        linear-gradient(#000 0 0) bottom/4px 2px no-repeat,
        linear-gradient(#000 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    background:
        linear-gradient(var(--d, 0deg), var(--c2) 50%, #0000 0) bottom /100% 205%,
        linear-gradient(var(--c2) 0 0) center/0 100%;
    background-repeat: no-repeat;
    animation: inherit;
    animation-name: l5-1;
}

.loader::after {
    transform-origin: 50% calc(100% + 2px);
    transform: scaleY(-1);
    --s: 3px;
    --d: 180deg;
}

@keyframes l5-0 {
    80% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(0.5turn)
    }
}

@keyframes l5-1 {

    10%,
    70% {
        background-size: 100% 205%, var(--s, 0) 100%
    }

    70%,
    100% {
        background-position: top, center
    }
}